@tailwind base;
@tailwind components;
@tailwind utilities;

body 
{
	background-image: url('/backpaper2.jpg');
	background-size: cover;
}
.hidden-back
{
	opacity: 0;
}

.show-back 
{
	opacity: 1;
	transition: opacity 3s;
}

.hidden-logo
{
	opacity: 0;
}


.start {
	animation: fade-in-out 6s forwards; /* 3s fade-in + 3s fade-out */
  }
  
  @keyframes fade-in-out {
	0% {
	  opacity: 0;
	}
	50% {
	  opacity: 1; /* Al 50% (3 segundos), completamente visible */
	}
	100% {
	  opacity: 0; /* Al 100% (6 segundos), completamente invisible */
	}
  }

  .led-off
  {
	filter: brightness(0%);
  }

  .led-on
  {
	animation: led-in-out 4s forwards;
  }

  @keyframes led-in-out {
	0%, 40%, 80% {
		filter: brightness(0%);
	  }
	  20%, 60%, 100% {
		filter: brightness(1.75);
	  }
  }

  /* ------------------ pantalla inferior================= */

  .down-off 
  {
	 background-color: rgb(17 24 39);
	 z-index: 90;
  }

  .down-on 
  {
	 animation: screen-in-out 4s forwards;
	
  }

  @keyframes screen-in-out {
	0%{
		background-color: rgb(17 24 39);
	  }

		100%  {
			background: rgb(241, 241, 241);
			box-shadow: inset 0 0 70px rgba(0, 0, 0, 0.3);
	  }

	}


.down-on img {
	
	cursor: pointer;
	transition: 0.2s;
}

.down-on img:hover {
	
	transform: translatey(-10px);
}


.hide-icons
{
	display: none;
	position: relative;
	z-index: 10;
}

.show-icons
{	
	display: block;
	animation: icons-in-out 0.8s forwards;
}


@keyframes icons-in-out {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1; /* Al 50% (3 segundos), completamente visible */
	}

  }

  .custom-shadow-inset {
	box-shadow: inset 0 0 70px rgba(0, 0, 0, 0.3);
  }
  
  .select-list
  {
	background-color: rgb(146, 146, 146);
	opacity: 50%;
  }